<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" th:href="@{/css/bulma.css}">
<head>
    <meta content="text/html; charset=UTF-8"/>
    <title>yTunes - Home</title>
</head>

<body>
<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">
            Welcome to yTunes
        </p>
        <p class="subtitle">
            Please don't sue me Apple
        </p>
    </div>
</section>

<div class="columns is-centered">
    <div class="column has-text-centered is-half m-6">
        <h6 class="is-size-4 mb-2">Search songs</h6>
        <form action="#" th:action="@{/search}" th:object="${trackSearch}" method="post">
            <div class="field has-addons">
                <div class="control container">
                    <input class="input is-primary" type="text" id="trackSearch" th:field="*{searchValue}"
                           placeholder="Song title" required>
                </div>
                <div class="control">
                    <button class="button is-primary" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="columns mr-5 ml-5">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <h6 class="is-size-4 has-text-primary">Artists of the moment</h6>
                    <div th:each="artist:${artists}">
                        <p class="card-title pt-2 pb-2" th:text="${artist.getName()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <h6 class="is-size-4 has-text-primary">Tracks of the moment</h6>
                    <div th:each="track:${tracks}">
                        <p class="card-title pt-2 pb-2" th:text="${track.getTrackName()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <h6 class="is-size-4 has-text-primary">Genres of the moment</h6>
                    <div th:each="genre:${genres}">
                        <p class="card-title pt-2 pb-2" th:text="${genre.getName()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>