<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" th:href="@{/css/bulma.css}">
<head>
    <meta content="text/html; charset=UTF-8"/>
    <title>yTunes - Search</title>
</head>

<body>
<div class="container has-text-centered has-text-primary m-6 is-size-1"
     th:text="'Search results for: ' + ${searchValue}"></div>

<div class="columns is-centered m-6">
    <table class="table">
        <thead>
        <tr>
            <th>Track</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="track:${tracks}">
            <td th:text="${track.getTrackName()}"></td>
            <td th:text="${track.getAlbumName()}"></td>
            <td th:text="${track.getArtistName()}"></td>
            <td th:text="${track.getGenreName()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container has-text-centered has-text-primary m-6 is-size-4"
     th:text="'Found: ' + ${total} + ' song(s).'"></div>
</body>

</html>